<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\yourproject" />
    <add key="DJANGO_SETTINGS_MODULE" value="yourproject.settings" />
  </appSettings>
    <system.webServer>
        <handlers>
            <add name="myhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
